.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 评论管理
    %ol.breadcrumb
      %li
        = link_to '首页', admin_path
      %li.active
        %strong 评论管理
  .col-lg-2
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 评论列表
        .ibox-content
          = render "layouts/flash_messages", flash: flash

          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th 订单 ID
                  %th 产品
                  %th 评论
                  %th 评论时间
                  %th
              %tbody
                - @comments.each do |comment|
                  %tr
                    %td= comment.commentable.order.id
                    %td= comment.commentable.name
                    %td= comment.comment
                    %td= comment.created_at.to_s(:db)
                    %td
                      .btn-group
                        = link_to '编辑', edit_admin_comment_path(comment), class: 'btn btn-white btn-xs'
                        = link_to '删除', admin_comment_path(comment), method: :delete, class: 'btn btn-white btn-xs', data: { confirm: "确认删除?" }
