.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name IN+
    %h3 Welcome to IN+
    = form_for(@user, url: users_profile_update_path) do |f|
      - if @user.errors.any?
        .error_messages
          %h2 Form is invalid
          %ul
            - for message in @user.errors.full_messages
              %li= message
      .form-group
        = label :name, "邮箱"
        = f.text_field :email, class: 'form-control'

      = f.fields_for :profile do |field|
        .form-group
          = label :name, "头像"
          = field.file_field :avatar, class: 'form-control'
        .form-group
          = field.label :name
          = field.text_field :name, class: 'form-control'
        .form-group
          = field.label :birthday
          = field.datetime_field :birthday, class: 'form-control'
        .form-group
          = field.label :gender
          = field.select :gender, t_options_for_select(User::Profile, :gender), {}, class: 'form-control'

        .hr-line-dashed

        .form-group
          = field.label :partner_name
          = field.text_field :partner_name, class: 'form-control'
        .form-group
          = field.label :partner_birthday
          = field.datetime_field :partner_birthday, class: 'form-control'
        .form-group
          = field.label :partner_email
          = field.email_field :partner_email, class: 'form-control'
        .form-group
          = field.label :partner_mobile
          = field.text_field :partner_mobile, class: 'form-control'

      = f.submit '更新', class: 'btn btn-primary block full-width m-b'
    %p.m-t
      %small Inspinia we app framework base on Bootstrap 3 &#169; 2015
