<% @page_title = "账户资料"  %>

<%= render 'layouts/frontend/header' %>

<div class="page user-center">
    <div class="container">
        <%= render partial: 'frontend/users/sidebar', locals: {channle: 'profile'} %>

        <div class="user-center-main">
            <header>账户资料</header>
            <main>
                <div class="section">
                    <div class="row">
                        <img src="<%= current_user.avatar.url %>" class="col-xs-2 avatar-preview">
                        <div class="col-xs-10">
                            <p>修改头像</p>
                            <%= form_for @user, url: users_profile_update_path, remote: true, html: {id: 'update-avatar'} do |f| %>
                                <%= f.fields_for :profile do |field| %>
                                    <%= field.file_field :avatar, class: 'hide', id: 'user-avatar' %>
                                <% end %>
                                <label for="user-avatar" class="btn btn-default">上传头像</label>
                            <% end %>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
