.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 订单管理
    %ol.breadcrumb
      %li
        = link_to '首页', admin_path
      %li
        = link_to '订单管理', admin_orders_path
      %li.active
        %strong 订单详情
  .col-lg-2
.wrapper.wrapper-content
  .row
    .col-lg-12
      .wrapper.wrapper-content
        = render "layouts/flash_messages", flash: flash
        .ibox-content.p-xl
          .text-right.m-b-lg
            = link_to content_tag(:i, nil, class: 'fa fa-pencil') + ' 编辑', edit_admin_order_path(@order), class: 'btn btn-white'
            %button.btn.btn-primary
              %i.fa.fa-dollar
              Make A Payment
          .row
            .col-sm-6
              %h4 收货人信息
              %address
                = show_shipping_address(@order.shipping_address)
              %h4 客户留言
              = @order.special_instructions
            .col-sm-6.text-right
              %h4 订单号
              %h4.text-navy= @order.number
              %p
                %span
                  %strong 当前状态
                  = I18n.t("views.orders.states.#{@order.state}")
              %p
                %span
                  %strong 创建时间
                  = @order.created_at.to_s(:db)
              %p
                %span
                  %strong 更新时间
                  = @order.updated_at.to_s(:db)

          .table-responsive.m-t
            %table.table.invoice-table
              %thead
                %tr
                  %th 商品
                  %th 数量
                  %th 单价
                  %th 总价
              %tbody
                - @order.line_items.each do |item|
                  %tr
                    %td
                      - if item.is_ring?
                        %div
                          %string= item.product.name
                          = item.variant.options_text
                        %small
                          = show_properties(item)
                      - else
                        %div
                          %string= item.product.name
                          = item.product.sku
                        %small
                          = show_diamond_info(item)

                    %td= item.quantity
                    %td= number_to_currency item.price
                    %td= number_to_currency item.amount

          %table.table.invoice-total
            %tbody
              %tr
                %td
                  %strong 商品总价
                %td= number_to_currency @order.total
              %tr
                %td
                  %strong 优惠
                %td= number_to_currency 0
              %tr
                %td
                  %strong 订单总价
                %td= number_to_currency @order.total

          .row.m-t-lg.p-sm
            %h4 系统记录
            #vertical-timeline.vertical-container.dark-timeline
              .vertical-timeline-block
                .vertical-timeline-icon.gray-bg
                  = content_tag(:i, nil, class: 'fa fa-check')
                .vertical-timeline-content
                  %p Conference on the sales results for the previous year.
          -# .well.m-t
          -#   %strong Comments
          -#   It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
