= "ID: #{@order.id}"
%h2 订单详情
- @order.line_items.each do |item|
  = item.sku
  = item.name
  = item.remark
  - if @order.completed? && item.comments.empty?
    = link_to '评价', new_line_item_comment_path(item)
%br
= "State: #{@order.state}"
%br
= "remark: #{@order.remark}"
- if @order.may_complete?
  = link_to 'Complete', order_path(@order), method: :put
