.form-group
  .city-group
    %select.city-select{name: "user_address[province]"}
      %option --省份--
      = options_for_select(ChinaCity.list)
    %select.city-select{name: "user_address[city]"}
      %option --城市--
    %select.city-select{name: "user_address[district]"}
      %option --地区--
.form-group
  = f.text_field :address, class: 'form-control', placeholder: '详细地址'
.form-group
  = f.text_field :zipcode, class: 'form-control', placeholder: '邮政编码'
.form-group
  = f.text_field :mobile, autofocues: true, class: 'form-control', placeholder: '手机'
.form-group
  = f.text_field :name, class: 'form-control', placeholder: '姓名'
.form-group
  = f.text_field :phone_area_code, class: 'form-control', placeholder: '区号'
.form-group
  = f.text_field :phone, class: 'form-control', placeholder: '电话号码'
.form-group
  = f.text_field :phone_ext_code, class: 'form-control', placeholder: '分机号'
