<% @page_title = "我的订单"  %>

<%= render 'layouts/frontend/header' %>

<div class="page user-center">
    <div class="container">
        <%= render partial: 'frontend/users/sidebar' %>

        <div class="user-center-main">
            <div class="header">我的收藏</div>

            <div class="main">
                <% if @favorites.size > 0 %>
                    <% @favorites.each do |f| %>
                        <div class="favorite">
                            <img src="<%= f.favable.master.images.first.picture.middle.url %>" class="favorite-image">
                            <p class="favorite-title">
                                <%= f.favable.name %>
                            </p>
                            <p class="favorite-buttons">
                                <%= link_to '加入购物车', product_path(f.favable), class: 'btn btn-default btn-sm btn-cart' %>
                                <%= link_to '取消收藏', favorite_path(f.favable), method: :delete, remote: true, class: 'btn btn-default btn-sm btn-cancel', date: { 'disable-with' => '正在取消...' }  %>
                            </p>
                        </div>

                    <% end %>
                <% else %>
                    <div class="init">
                        <%= image_tag 'redesign/init-orders.png', size: "74x100" %>
                        <p class="init-content">您还没有任何收藏</p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
