<% @page_title = "GIA证书查询" %>

<%= render 'layouts/frontend/header' %>
<%= stylesheet_link_tag "frontend/tools/gia_certificate" %>

<%= form_tag gia_certificate_path do %>
  <div class="navigation-text">
        <div class="headline-text"><strong>GIA证书查询</strong></div>
            <div class="search-text1">
                <input type="text" name="gia_number" style="color: #fff;padding-left:10px;" placeholder="请输入证书号">
            </div>    
                <input class="search-button" type="submit" value="查询">
            <div class="search-last">
                <span style="color: #fff">其他钻石评估工具：</span><a href="/hca_query" style="color: red">HCA火彩评估</a>
            </div>
        </div>
  </div> 
<% end %>

<% if @gia_infos.any? %>
  <div class="special">证书查询结同步GIA官方数据，VANDODO对证书验证的反馈结果不做任何陈述和保证。</div>
  <div class="result-all">
      <div class="result-text">
          <div class="result-first">GIA检测报告</div>
          <div class="result-text1">GIA证书编号</div>
          <div class="result-text2">颁发日期</div>
          <div class="result-text3"><%= @gia_infos["report_no"] %></div>
          <div class="result-text4"><%= @gia_infos["report_dt"] %></div>
          <div class="result-text5">Round Brilliant</div>
          <table class="table table-striped">
              <tr><td>尺寸</td><td><%= @gia_infos["length"] %></td></tr>
              <tr><td>克拉重量</td><td><%= @gia_infos["weight"] %> carat</td></tr>
              <tr><td>颜色等级</td><td><%= @gia_infos["color"] %></td></tr>
              <tr><td>净度等级</td><td><%= @gia_infos["clarity"] %></td></tr>
              <tr><td>切工等级</td><td><%= @gia_infos["final_cut"] %></td></tr>
          </table>
          <div class="result-text6">比例</div>
          <table class="table table-striped">
              <tr><td>深度比</td><td><%= @gia_infos["depth_pct"] %>%</td></tr>
              <tr><td>台面比</td><td><%= @gia_infos["table_pct"] %>%</td></tr>
              <tr><td>冠角</td><td><%= @gia_infos["crn_ag"] %></td></tr>
              <tr><td>冠高</td><td><%= @gia_infos["crn_ht"] %></td></tr>
              <tr><td>亭部角度</td><td><%= @gia_infos["pav_ag"] %></td></tr>
              <tr><td>亭深</td><td><%= @gia_infos["pav_dp"] %></td></tr>
              <tr><td>星形刻面长度</td><td><%= @gia_infos["str_ln"] %></td></tr>
              <tr><td>腰下刻面</td><td><%= @gia_infos["lr_half"] %></td></tr>
              <tr><td>腰围</td><td><%= @gia_infos["girdle"] %>, <%= @gia_infos["girdle_condition"] %>, <%= @gia_infos["girdle_pct"] %></td></tr>
              <tr><td>底尖</td><td><%= @gia_infos["culet_size"] %></td></tr>
          </table>
          <div class="result-text7">切工</div>
          <table class="table table-striped">
              <tr><td>抛光</td><td><%= @gia_infos["polish"] %></td></tr>
              <tr><td>对称</td><td><%= @gia_infos["symmetry"] %></td></tr>
          </table>
          <div class="result-text8">荧光</div>
          <table class="table table-striped">
              <tr><td>荧光</td><td><%= @gia_infos["fluorescence_intensity"] %></td></tr>
          </table>
          <div class="result-text9">净度特征</div>
          <table class="table table-striped">
              <tr><td>净度特征</td><td><%= @gia_infos["key_to_symbols"] %></td></tr>
          </table>
          <div class="last"></div>
      </div>
  </div>
<% end %>

<%= render 'layouts/frontend/footer' %>