<% @page_title = "GIA证书查询" %>

<%= render 'layouts/frontend/header' %>
<style type="text/css">
        .navigation-text{
            background-color: black;
            height: 320px;
            text-align: center;
        }
        .headline-text{
            padding-top: 100px;
            padding-bottom: 10px;
            color: #fff;
            font-weight: bold;
            font-size: x-large;
        }
        .search-text1 input{
            height: 35px;
            width: 400px;
            background-color: #000;
            border:solid #fff 1px;
            margin-top: 15px;
            position: relative;
            right: 20px;
            
        }
        .search-button{
            background: #DE111E;
            color: #fff;
            width: 60px;
            height: 38.5px;
            border: 1px;
            border-radius:5px;
            position: relative;
            bottom:37px;
            left: 208px;
        }
        .search-last{
            margin-top: -10px;
            font-size: xx-small; 
        }
        .search-last a{
            text-decoration:none
        }
        .special{
            text-align: center;
            font-size: xx-small;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .result-all{
            width: 800px;
            min-height: 300px;
            border:1px solid #ddd;
            margin:0 auto;
            margin-bottom: 120px;
        }
        .result-text{
            width:600px;
            margin:0 auto
        }
        .result-first{
            text-align: center;
            font-weight: normal;
            font-size: xx-large;
            margin-top: 70px;
        }
        .result-text1{
            font-size: large;
            margin-top: 70px;
        }
        .result-text2{
            font-size: large;
            position: relative;
            bottom: 25px;
            left: 360px;
        }
        .result-text3{
            font-size: x-large;
            position: relative;
            bottom: 25px;
        }
        .result-text4{
            font-size: x-large;
            position: relative;
            bottom: 59.5px;
            left: 360px;
        }
        .result-text5{
            margin-top: -30px;
            margin-bottom: 20px;
            font-size:large;
        }
        .result-text6{
            margin-bottom: 20px;
            font-size:large;
        }
        .result-text7{
            margin-bottom: 20px;
            font-size:large;
        }
        .result-text8{
            margin-bottom: 20px;
            font-size:large;
        }
        .result-text9{
            margin-bottom: 20px;
            font-size:large;
        }
        .result-text td{
            width: 400px;
        }
        .table-striped tbody tr:nth-child(odd) td {
            background-color: #F4F4F4;
        }
        .last{
            height: 50px;
        }
        .table-striped tbody td:nth-child(odd) {
            padding-left: 70px;
        }
        .table-striped{
            color: #A3A3A3
        }
    </style>

<%= form_tag gia_certificate_path do %>
  <div class="navigation-text">
        <div class="headline-text"><strong>GIA证书查询</strong></div>
            <div class="search-text1">
                <input type="text" name="gia_number" style="color: #fff;padding-left:10px;" placeholder="请输入证书号">
            </div>    
                <input class="search-button" type="submit" value="查询">
            <div class="search-last">
                <span style="color: #fff">其他钻石评估工具：</span><a href="http://www.vandodo.com/gia_certificate#" style="color: red">HCA火彩评估</a>
            </div>
        </div>
  </div> 
<% end %>

<% if @gia_infos.any? %>
  <div class="special">证书查询结同步GIA官方数据，VANDODO对证书验证的反馈结果不做任何陈述和保证。</div>
  <div class="result-all">
      <div class="result-text">
          <div class="result-first">GIA检测报告</div>
          <div class="result-text1">GIA证书编号</div>
          <div class="result-text2">颁发日期</div>
          <div class="result-text3"><%= @gia_infos["report_no"] %></div>
          <div class="result-text4"><%= @gia_infos["report_dt"] %></div>
          <div class="result-text5">Round Brilliant</div>
          <table class="table table-striped">
              <tr><td>尺寸</td><td><%= @gia_infos["length"] %></td></tr>
              <tr><td>克拉重量</td><td><%= @gia_infos["weight"] %> carat</td></tr>
              <tr><td>颜色等级</td><td><%= @gia_infos["color"] %></td></tr>
              <tr><td>净度等级</td><td><%= @gia_infos["clarity"] %></td></tr>
              <tr><td>切工等级</td><td><%= @gia_infos["final_cut"] %></td></tr>
          </table>
          <div class="result-text6">比例</div>
          <table class="table table-striped">
              <tr><td>深度比</td><td><%= @gia_infos["depth_pct"] %>%</td></tr>
              <tr><td>台面比</td><td><%= @gia_infos["table_pct"] %>%</td></tr>
              <tr><td>冠角</td><td><%= @gia_infos["crn_ag"] %></td></tr>
              <tr><td>冠高</td><td><%= @gia_infos["crn_ht"] %></td></tr>
              <tr><td>亭部角度</td><td><%= @gia_infos["pav_ag"] %></td></tr>
              <tr><td>亭深</td><td><%= @gia_infos["pav_dp"] %></td></tr>
              <tr><td>星形刻面长度</td><td><%= @gia_infos["str_ln"] %></td></tr>
              <tr><td>腰下刻面</td><td><%= @gia_infos["lr_half"] %></td></tr>
              <tr><td>腰围</td><td><%= @gia_infos["girdle"] %>, <%= @gia_infos["girdle_condition"] %>, <%= @gia_infos["girdle_pct"] %></td></tr>
              <tr><td>底尖</td><td><%= @gia_infos["culet_size"] %></td></tr>
          </table>
          <div class="result-text7">切工</div>
          <table class="table table-striped">
              <tr><td>抛光</td><td><%= @gia_infos["polish"] %></td></tr>
              <tr><td>对称</td><td><%= @gia_infos["symmetry"] %></td></tr>
          </table>
          <div class="result-text8">荧光</div>
          <table class="table table-striped">
              <tr><td>荧光</td><td><%= @gia_infos["fluorescence_intensity"] %></td></tr>
          </table>
          <div class="result-text9">净度特征</div>
          <table class="table table-striped">
              <tr><td>净度特征</td><td><%= @gia_infos["key_to_symbols"] %></td></tr>
          </table>
          <div class="last"></div>
      </div>
  </div>
<% end %>

<%= render 'layouts/frontend/footer' %>