<% @page_title = "HCA查询" %>

<%= render 'layouts/frontend/header' %>

<div class="form-sign">
    <div class="form-group">
        <p class="title">HCA查询结果</p>
    </div>
    <% @hac_results.each_slice(2) do |result| %>
      <% case result.first %>
      <% when "Light Return" %> 
         <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span>反光性</span>
                </span>
                <%= result.last %>
            </div>
          </div>
      <% when "Fire" %>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span>火彩</span>
                </span>
                <%= result.last %>
            </div>
          </div>
      <% when "Scintillation" %>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span>闪耀性</span>
                </span>
                <%= result.last %>
            </div>
          </div>
      <% when "Spreador diameter for weight" %>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span>延展性</span>
                </span>
                <%= result.last %>
            </div>
          </div>
      <% when "Total Visual Performance" %>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span>综合评分</span>
                </span>
                <%= result.last %>
            </div>
          </div>
      <%# else %>
        <%#= result %>
      <% end %>
    <% end %>
</div>

