<% @page_title = "HCA查询" %>

<%= render 'layouts/frontend/header' %>
<%= stylesheet_link_tag "frontend/tools/hca_query" %>

<div class="navigation-text">
    <div class="headline-text"><strong>HCA火彩评估</strong></div>
        <%= form_tag hca_query_path do %>
            <div class="search-text1">      
                <input  style="color: #fff;padding-left:10px;" type="text" name="depth_textbox" placeholder="深度比"/>
                <span class="font-text">%</span>
            </div>
            <div class="search-text2">    
                <input  style="color: #fff;padding-left:10px;" type="text" name="table_textbox" placeholder="台面比"/>
                <span class="font-text">%</span>
            </div>
            <div class="search-text3">
                <input  style="color: #fff;padding-left:10px;" type="text" name="crown_textbox" placeholder="冠  角"/>
            </div>
          <div class="search-text4">
                <input  style="color: #fff;padding-left:10px;" type="text" name="pavilion_textbox" placeholder="亭  角"/>
            </div>    
            <div class="search-text5">
                <input  style="color: #fff;padding-left:10px;" type="text" name="cutlet_textbox" placeholder="底 尖   0"/>
            </div>   
            <div class="search-button">    
                <button type="submit" class="search-button1" id="btn-signup">计算</button>
                <input class="search-button2" type="reset" value="重置"  onclick="javascript:document.getElementById('input').value='';" value="clear" />
            </div>
        <% end %>  
        <div class="search-last">
            <span style="color: #fff">其他钻石评估工具：</span><a href="/gia_certificate" style="color: red">GIA证书查询</a>
        </div>
    </div>
</div>

<% if @hac_results.present? %>
    <div class="result-text">
        <div class="result-first">
            <span>HCA结果评估</span>   
        </div>
        <div class="line"></div>
        <div align="center">
        <table cellspacing=0>
            <tr  class="form-1rd">
            <td class="form-1">反光性</td>
            <td class="form-2"><%= @hac_results["Light Return"] %></td>
            <td class="form-1">火彩</td>
            <td class="form-2"><%= @hac_results["Fire"] %></td>
        </tr>
        <tr>
            <td class="form-1">闪耀性</td>
            <td class="form-2"><%= @hac_results["Scintillation"] %></td>
            <td class="form-1">延展性</td>
            <td class="form-2"><%= @hac_results["Spreador diameter for weight"] %></td>
        </tr>
        <tr  class="form-1rd">
            <td class="form-1">综合评分</td>
            <td class="form-3" colspan=3><%= @hac_results["Total Visual Performance"] %></td>        
        </tr>
        </table>
        </div>
        <div class="hca-img">
            <img src="<%= @hac_results["image_path"] %>">
        </div>
    </div>
<% end %>

