<% channle = nil || channle %>

<div class="user-center-sidebar">
    <img src="<%= current_user.avatar.url %>" class="avatar">

    <div class="links">
        <a href="/orders" class="<%= 'active' if channle == 'orders' %>">
            <span class="glyphicon glyphicon-list-alt"></span> 我的订单</a>
        <a href="#" class="disabled <%= 'active' if channle == 'services' %>">
            <span class="glyphicon glyphicon-wrench"></span> 售后服务</a>
        <a href="/users/profile" class="<%= 'active' if channle == 'profile' %>">
            <span class="glyphicon glyphicon-user"></span> 账户资料</a>
        <a href="/addresses" class="<%= 'active' if channle == 'addresses' %>">
            <span class="glyphicon glyphicon-map-marker"></span> 收货地址</a>
    </div>
</div>
