<% @page_title = "我的订单"  %>

<%= render 'layouts/frontend/header' %>

<div class="page user-center">
    <div class="container">
        <%= render partial: 'frontend/users/sidebar', locals: {channle: 'orders'} %>

        <div class="user-center-main">
            <header>
                我的订单
            </header>
            <main>
                <% if @orders.size > 0 %>
                    <% @orders.reverse.each do |order| %>
                        <div class="order">
                            <div class="title">
                                订单号：<a href="<%= order_path(order) %>"><%= order.number %></a>

                                <% if order.processing? %>
                                    <%= next_state_button(order) %>
                                <% elsif order.checkout? %>
                                    <%= next_state_button(order) %>
                                    <%= link_to '立即下单', order_build_path(:address, :order_id => order), class: 'btn btn-default btn-sm' %>
                                <% elsif order.pending? %>
                                    <%= next_state_button(order) %>
                                    <%= link_to '立即支付', order_build_path(:payment, :order_id => order), class: 'btn btn-default btn-sm' %>
                                <% elsif order.paid? %>
                                    <%= next_state_button(order) %>
                                    <%= link_to '查看进度', '#', class: 'btn btn-default btn-sm' %>
                                  <% elsif order.delivered? %>
                                    <%= next_state_button(order) %>
                                    <%= link_to '查看物流', '#', class: 'btn btn-default btn-sm' %>
                                <% elsif order.completed? %>
                                    <%# next_state_button(order) 这里应该是退换货 %>
                                    <%= link_to '发表评价', '#', class: 'btn btn-default btn-sm' %>
                                <% end %>

                                <span class="status"><%= I18n.t("views.orders.states.#{order.state}") %></span>
                            </div>
                            <div class="order-items-table">
                                <table class="table">
                                    <tbody>
                                        <% order.line_items.rings.each do |item| %>
                                            <tr>
                                                <th width="48"><img width="48" height="48" src="<%= item.product.master.images.first.picture.mini.url rescue '' %>"></th>
                                                <td class="name"><%= item.name %></td>
                                                <td width="48"><%= item.quantity %></td>
                                                <td width="100"><%= number_to_currency item.final_amount %></td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="order-price">
                                <span class="total">商品金额：￥<%= order.total.to_i %></span>
                                <span class="reduce">优惠金额：￥<%= order.adjustment_total.to_i %></span>
                                <span class="price">订单金额：￥<%= order.item_total.to_i %></span>
                                <a href="<%= order_path(order) %>" class="link-order-show">查看详情</a>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="init">
                    <%= image_tag 'redesign/init-orders.png', size: "74x100" %>
                        <p class="init-content">您还没有任何订单</p>
                    </div>
                <% end %>
            </main>
        </div>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
