<%= form_tag line_items_path, id: 'add-to-cat', class: 'form-inline form-engaement-ring', data: { remote: true } do %>
    <h2 class="name"><%= @product.name %></h2>
    <p class="price" id="price"></p>

    <hr>
    <div class="form-group product-information row">
        <div class="col-xs-6">
            <div class="row">
                <label class="col-sm-6 control-label">主钻重量</label>
                <p class="col-sm-6" class="diamond-weight">
                    <select class="form-control render-price" id="diamond-weight">
                        <option value="0.3CT" selected>30分</option>
                        <option value="0.5CT" >50分</option>
                        <option value="1CT" >1克拉</option>
                    </select>
                </p>
            </div>



            <div class="row">
                <label for="product-color" class="col-sm-6 control-label">主钻颜色</label>
                <div class="col-sm-6">
                    <select class="form-control render-price" id="product-color">
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F" selected>F</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="col-xs-6">
            <div class="row">
                <label class="col-sm-6 control-label">主钻切工</label>
                <p class="col-sm-6">3EX</p>
            </div>

            <div class="row">
                <label for="product-jingdu" class="col-sm-6 control-label">主钻净度</label>
                <div class="col-sm-6">
                    <select class="form-control render-price" id="product-jingdu">
                        <option value="IF">IF</option>
                        <option value="VVS1">VVS1</option>
                        <option value="VVS2" selected>VVS2</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="form-group product-information row">
        <div class="row">
            <label for="product-size" class="col-sm-3 control-label">选择材质</label>
            <div class="col-sm-9 form-group product-material" data-toggle="buttons">
                <label class="btn btn-sm btn-primary active">
                    <input class="render-price" type="radio" name="variant_id" value="<%= @product.variants[0].id %>" data-price="<%= @product.variants[0].price %>" checked> 18K白金
                </label>
                <label class="btn btn-sm btn-primary">
                    <input class="render-price" type="radio" name="variant_id" value="<%= @product.variants[1].id %>" data-price="<%= @product.variants[1].price %>"> PT950
                </label>
            </div>
        </div>



        <div class="row">
            <label for="product-size" class="col-sm-4 control-label">选择手寸</label>
            <p class="col-sm-8">
                <select class="form-control" id="product-size" name="size">
                    <% (8..16).each do |index| %>
                        <option value="<%= index %>"><%= "#{ index }号" %></option>
                    <% end %>
                </select>
                <a href="javascript:;" class="link-table" data-toggle="modal" data-target="#table">查看手寸对照表</a>
            </p>
        </div>

        <div class="row">
            <label for="lettering" class="col-sm-4 control-label">刻字内容</label>
            <p class="col-sm-8">
                <input type="text" class="form-control lettering" name="lettering" id="lettering" placeholder="4个汉字或8个字母">
            </p>
        </div>
    </div>

    <input type="hidden" id="diamond_id" name="diamond_id">
    <%= render 'buttons' %>
<% end %>


<% cache ['diamonds', 'price', @diamonds] do %>
    <ul id="product-prices" style="display:none!important;">
        <% @diamonds.each do |diamond| %>
            <li data-name="<%= diamond.name.downcase %>" id="<%= diamond.id %>"><%= diamond.price %></li>
        <% end %>
    </ul>
<% end %>
