<% @page_title = "产品列表"  %>

<%= render 'layouts/frontend/header' %>

<div class="page">
    <div class="product-list">
        <% @products.each_slice(2) do |a, b| %>
            <div class="product-group">
                <a href="<%= product_path(a) %>" class="product">
                    <div class="product-bg" style="background-image: url('<%= a.master.images.first.picture.middle.url %>');"></div>
                    <div class="product-info">
                        <p class="price"><%= number_to_currency(a.default_price, unit: '￥') %></p>
                        <p class="name"><%= a.name %></p>
                        <div class="link-group">
                            <span>
                                <span class="glyphicon glyphicon-search"></span> 查看
                            </span>
                            <span>
                                <span class="glyphicon glyphicon-shopping-cart"></span> 购买
                            </span>
                        </div>
                    </div>
                </a>

                <% if b %>
                    <a href="<%= product_path(b) %>" class="product">
                        <div class="product-bg" style="background-image: url('<%= b.master.images.first.picture.middle.url %>');"></div>
                        <div class="product-info">
                            <p class="price"><%= number_to_currency(b.default_price, unit: '￥') %></p>
                            <p class="name"><%= b.name %></p>
                            <div class="link-group">
                                <span>
                                    <span class="glyphicon glyphicon-search"></span> 查看
                                </span>
                                <span href="javascript:;">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> 购买
                                </span>
                            </div>
                        </div>
                    </a>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
