<% @page_title = "产品列表"  %>

<%= render 'layouts/frontend/header' %>

<div class="page">
    <div class="product-list">
        <% @products.each_slice(2) do |a, b| %>
            <div class="product-group">
                <a href="<%= product_path(a) %>" class="link-product" style="background-image: url('<%= a.master.images.first.picture.middle.url %>');">
                    <%= a.name %>
                    <%= number_to_currency(a.price, unit: '￥') %>
                </a>
                <% if b %>
                    <a href="<%= product_path(b) %>" class="link-product" style="background-image: url('<%= b.master.images.first.picture.middle.url %>');">
                        <%= b.name %>
                        <%= number_to_currency(a.price, unit: '￥') %>
                    </a>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
