<%= render 'layouts/frontend/header' %>

<div class="mainbox">
    <div class="product-cate">
        <ul class="clearfix">
            <li><a href="#" class="active"><i class="dot-circle"></i><em class="font-eng">ring</em> 对戒</a></li>
            <li><a href="#"><i class="dot-circle"></i><em class="font-eng">Diamond ring</em> 钻戒</a></li>
            <li><a href="#"><i class="dot-circle"></i><em class="font-eng">Peripheral</em> 周边产品</a></li>
            <li><a href="#"><i class="dot-circle"></i><em class="font-eng">bridal sets</em></a></li>
        </ul>
    </div>
    <div class="product-list">
        <ul>
            <li>
                <div class="pro-imgbox">
                    <a href="<%= product_path(1) %>" class="hover-zoom">
                        <div class="mask-zoom">
                            <div class="red-zoom">
                                <i class="iconfont icon-zoom"></i>
                            </div>
                        </div>
                        <img src="<%= asset_path "product/product1.jpg" %>" />
                    </a>
                </div>
                <h2 class="pro-title">
                <a href=""><em class="font-eng">ROSELAND</em> 经典款</a>
            </h2>
                <p class="pro-price">￥5666 </p>
            </li>
            <li>
                <div class="pro-imgbox">
                    <a href="<%= product_path(1) %>" class="hover-zoom">
                        <div class="mask-zoom">
                            <div class="red-zoom">
                                <i class="iconfont icon-zoom"></i>
                            </div>
                        </div>
                        <img src="<%= asset_path "product/product2.jpg" %>" />
                    </a>
                </div>
                <h2 class="pro-title">
                <a href=""><em class="font-eng">ROSELAND</em> 经典款</a>
            </h2>
                <p class="pro-price">￥5666 </p>
            </li>
            <li>
                <div class="pro-imgbox">
                    <a href="<%= product_path(1) %>" class="hover-zoom">
                        <div class="mask-zoom">
                            <div class="red-zoom">
                                <i class="iconfont icon-zoom"></i>
                            </div>
                        </div>
                        <img src="<%= asset_path "product/product3.jpg" %>" />
                    </a>
                </div>
                <h2 class="pro-title">
                <a href=""><em class="font-eng">ROSELAND</em> 经典款</a>
            </h2>
                <p class="pro-price">￥5666 </p>
            </li>
            <li>
                <div class="pro-imgbox">
                    <a href="<%= product_path(1) %>" class="hover-zoom">
                        <div class="mask-zoom">
                            <div class="red-zoom">
                                <i class="iconfont icon-zoom"></i>
                            </div>
                        </div>
                        <img src="<%= asset_path "product/product4.jpg" %>" />
                    </a>
                </div>
                <h2 class="pro-title">
                <a href=""><em class="font-eng">ROSELAND</em> 经典款</a>
            </h2>
                <p class="pro-price">￥5666 </p>
            </li>
            <li>
                <div class="pro-imgbox">
                    <a href="<%= product_path(1) %>" class="hover-zoom">
                        <div class="mask-zoom">
                            <div class="red-zoom">
                                <i class="iconfont icon-zoom"></i>
                            </div>
                        </div>
                        <img src="<%= asset_path "product/product5.jpg" %>" />
                    </a>
                </div>
                <h2 class="pro-title">
                <a href=""><em class="font-eng">ROSELAND</em> 经典款</a>
            </h2>
                <p class="pro-price">￥5666 </p>
            </li>
            <li>
                <div class="pro-imgbox">
                    <a href="<%= product_path(1) %>" class="hover-zoom">
                        <div class="mask-zoom">
                            <div class="red-zoom">
                                <i class="iconfont icon-zoom"></i>
                            </div>
                        </div>
                        <img src="<%= asset_path "product/product6.jpg" %>" />
                    </a>
                </div>
                <h2 class="pro-title">
                <a href=""><em class="font-eng">ROSELAND</em> 经典款</a>
            </h2>
                <p class="pro-price">￥5666 </p>
            </li>
        </ul>
    </div>
</div>
