<% @page_title = "产品列表"  %>

<%= render 'layouts/frontend/header' %>

<div class="mainbox">
    <div class="product-cate">
        <ul class="clearfix">
            <li><%= products_nav('ring', ' 对戒', '结婚对戒', params[:taxon_name]) %></li>
            <li><%= products_nav('Diamond ring', ' 钻戒', '求婚钻戒', params[:taxon_name]) %></li>
            <li><%= products_nav('Peripheral', ' 周边产品', '周边礼品', params[:taxon_name]) %></li>
            <li><%= products_nav('bridal sets', '', '饰品', params[:taxon_name]) %></li>
        </ul>
    </div>

    <div class="product-list">
        <ul>
            <% @products.each do |product| %>
              <li>
                  <div class="pro-imgbox">
                      <a href="<%= product_path(product) %>" class="hover-zoom">
                          <div class="mask-zoom">
                              <div class="red-zoom">
                                  <i class="iconfont icon-zoom"></i>
                              </div>
                          </div>
                          <%= image_tag product.master.images.first.picture.middle.url %>
                      </a>
                  </div>
                  <h2 class="pro-title">
                    <%= link_to product.name, product_path(product) %>
                  </h2>
                  <p class="pro-price"><%= number_to_currency(product.price, unit: '￥') %></p>
              </li>
            <% end %>
        </ul>
    </div>
</div>
