%h2 产品详情

/ 购物车数量。。暂时放在这便于调试
%p
  = link_to "购物车：", carts_path
  - if current_user.cart
    = current_user.cart.line_items.where(order_id: nil).sum(:quantity)
%hr

%h3= @product.name

- if current_user
  = button_to '收藏', product_favorites_path(@product), remote: true

= render :partial => 'properties'

%hr

%h3 变体
- @product.variants_including_master.each do |v|
  = v.id
  = v.options_text
  = button_to '加入购物车', line_items_path(variant_id: v.id)
  %br
