%h2 产品详情

/ 购物车数量。。暂时放在这便于调试
%p
  = link_to "购物车：", carts_path
  = current_user.cart.line_items.where(order_id: nil).sum(:quantity)

%h3= @product.name

- if current_user
  = button_to '收藏', product_favorites_path(@product), remote: true

= render :partial => 'properties'

%h3 变体
- @product.variants.each do |v|
  = v.id
  = v.options_text
  = link_to '加入购物车', carts_path(id: v.id), method: :post
  %br
