<% @page_title = @product.name %>


<div class="page">
    <section class="section section-jumbotron">
        <%= render 'layouts/frontend/header' %>

        <div id="main-slide" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <% @product.master.images.each_with_index do |image, index| %>
                <div class="item <%= 'active' if index == 0 %>">
                    <img src="<%= image.picture.url %>">
                </div>
                <% end %>
            </div>

            <a class="left carousel-control" href="#main-slide" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#main-slide" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <a href="javascript:;" onclick="$.fn.fullpage.moveSectionDown()" class="link-next"></a>
    </section>

    <div class="section section-product">
        <div class="col-sm-6 hidden-xs">
            <div id="product-slide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <% @product.master.images.each_with_index do |image, index| %>
                        <li data-target="#product-slide" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
                    <% end %>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <% @product.master.images.each_with_index do |image, index| %>
                    <div class="item <%= 'active' if index == 0 %>">
                        <img src="<%= image.picture.url %>">
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <% if @product.is_wedding? %>
                <%= render 'wedding' %>
            <% else %>
                <%= render 'engaement' %>
            <% end %>
        </div>
    </div>
</div>

<%= render 'table' %>
