<% @page_title = @product.name %>


<div class="page">
    <section class="section section-jumbotron">
        <%= render 'layouts/frontend/header' %>

        <div id="main-slide" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <% @product.master.images.each_with_index do |image, index| %>
                <div class="item <%= 'active' if index == 0 %>">
                    <img src="<%= image.picture.url %>">
                </div>
                <% end %>
            </div>

            <a class="left carousel-control" href="#main-slide" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#main-slide" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </section>

    <div class="section section-product">
        <div class="col-sm-6 hidden-xs">
            <div id="product-slide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <% @product.master.images.each_with_index do |image, index| %>
                        <li data-target="#product-slide" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
                    <% end %>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <% @product.master.images.each_with_index do |image, index| %>
                    <div class="item <%= 'active' if index == 0 %>">
                        <img src="<%= image.picture.url %>">
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <%= form_tag line_items_path, id: 'add-to-cat', class: 'form-inline' do %>
                <h3 class="price"></h3>
                <p class="name"><%= @product.name %></p>

                <div class="form-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" autocomplete="off" checked> 简约款
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" autocomplete="off"> 轻奢款
                    </label>
                </div>

                <hr>

                <p class="description"><%= @product.description %></p>

                <hr>

                <div class="form-group product-information">
                    <div class="col-xs-6">
                        <label class="col-sm-6 control-label">主钻重量</label>
                        <p class="col-sm-6 diamond-weight">0.3CT</p>

                        <label for="product-color" class="col-sm-6 control-label">主钻颜色</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="product-color" name="product_color">
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <label class="col-sm-6 control-label">主钻切工</label>
                        <p class="col-sm-6 diamond-weight">3EX</p>

                        <label for="product-color" class="col-sm-6 control-label">主钻颜色</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="product-color" name="product_color">
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <label for="product-size" class="col-sm-4 control-label">选择手寸</label>
                    <p class="col-sm-8">
                        <select class="form-control" id="product-size" name="size">
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <a href="javascript:;" class="link-table" data-toggle="modal" data-target="#table">查看中国区戒指手寸对照表</a>
                    </p>
                    <label for="lettering" class="col-sm-4 control-label">刻字内容</label>
                    <p class="col-sm-8">
                        <input type="text" class="form-control" name="lettering" id="lettering" placeholder="4个汉字或8个字母">
                    </p>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="table" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">中国区戒指手寸对照表</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
