<%= render 'layouts/frontend/header' %>

<div class="product-wrap">
    <div class="product-main">
        <%= image_tag @product.master.images.first.picture.middle.url, class: 'product-image' %>
        <a href="javascript:;" class="link-show-image">浏览高清图</a>
        <div class="product-images">
            <% @product.master.images.each_with_index do |image, index| %>
              <% class_name = index == 0 ? 'active' : nil %>
              <%= link_to image_tag(image.picture.middle.url, width: 110), 'javascript:;', class: "thumb-image #{class_name}" %>
            <% end %>
        </div>
    </div>

    <div class="product-info">
      <%= form_tag line_items_path, id: 'add-to-cat' do %>
        <h1><%= @product.name %></h1>
        <p class="subtitle">WHISPER 1610242</p>
        <p class="product-price" id="product-price"><%= number_to_currency(@product.price, unit: '￥') %></p>

        <div>
          <% @product.variants.each_with_index do |variant, index| %>
            <span>
              <% checked = index == 0 %>
              <%= radio_button_tag(:variant_id, variant.id, checked, id: dom_id(variant), class: 'variant_radio') %>
              <%= label_tag dom_id(variant), variant.options_text, class: 'product-style' %>
              <%= content_tag(:span, number_to_currency(variant.price, unit: '￥'), style: 'display:none;') %>
              <br />
            </span>
          <% end %>
        </div>
        <!-- <div class="product-style">
            <input type="radio" id="product-style-2" name="product_style" value="1">
            <label class="product-style" for="product-style-2">轻奢款</label>
        </div> -->

        <p class="product-desc"><%= @product.description %></p>
        <div class="product-information">
          <% @product_properties.each do |product_property| %>
            <div>
              <b><%= product_property.property.presentation %>：</b>
              <span><%= product_property.value %></span>
            <%=  %>
            </div>
          <% end %>
            <!-- <div>
                <b>主钻重量：</b> <span>0.3CT</span>
            </div>

            <div>
                <b>主钻切工：</b> <span>3EX</span>
            </div>

            <div>
                <b>主钻净度：</b>
                <input type="radio" id="product-jingdu-1" name="product_jingdu" value="IF" checked>
                <label class="product-radio" for="product-jingdu-1">IF</label>

                <input type="radio" id="product-jingdu-2" name="product_jingdu" value="VVS1">
                <label class="product-radio" for="product-jingdu-2">VVS1</label>

                <input type="radio" id="product-jingdu-3" name="product_jingdu" value="VVS2">
                <label class="product-radio" for="product-jingdu-3">VVS2</label>
            </div>

            <div>
                <b>主钻颜色：</b>
                <input type="radio" id="product-color-1" name="product_color" value="D" checked>
                <label class="product-radio" for="product-color-1">D</label>

                <input type="radio" id="product-color-2" name="product_color" value="E">
                <label class="product-radio" for="product-color-2">E</label>

                <input type="radio" id="product-color-3" name="product_color" value="F">
                <label class="product-radio" for="product-color-3">F</label>
            </div>

            <div class="product-material">
                <b>选择材质：</b>
                <input type="radio" id="product-material-1" name="product_material" value="D" checked>
                <label class="product-radio" for="product-material-1">18K金</label>
            </div>

            <div class="product-size">
                <b>选择手寸：</b>
                <select name="product_size">
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span class="desc">港码6号内直径28mm，内周长38mm</span>
            </div> -->

            <div class="product-lettering">
                <b>刻字内容：</b>
                <%= text_field_tag 'remark', nil, placeholder: "4个汉字或8个字母" %>
            </div>
        </div>

        <!-- <%= submit_tag '加入购物车', class: 'link-to-car' %> -->
        <a href="javascript:;" id='link-to-car' class="link-to-car">加入购物车</a>
        <div class="product-more">
            <a href="javascript:;" class="link-to-collect">
                <i class="iconfont icon-collect"></i> 加入收藏
            </a>
            <a href="javascript:;" class="link-to-comment">
                <i class="iconfont icon-message"></i> 历史评价
            </a>
        </div>
      <% end %>
    </div>

    <div class="image-preview">
        <a href="javascript:;" class="link-close-preview"><i class="iconfont icon-close"></i></a>
        <a href="javascript:;" class="prev"><i class="iconfont icon-arrowleft"></i></a>
        <a href="javascript:;" class="next"><i class="iconfont icon-arrowright"></i></a>
        <div class="preview-list">
            <ul>
                <% @product.master.images.each do |image| %>
                  <li><%= image_tag image.picture.middle.url %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">
  $('.variant_radio').click(function() {
    var price = $(this).parent("span").find("span").text();
    $('#product-price').html(price);
  });
  $('#link-to-car').click(function() {
    $(this).parent("form").submit();
  })
</script>
