<% @page_title = "#{@product.name} #{@product.taxons_name}"  %>

<%= render 'layouts/frontend/header' %>
<div class="page">    
    <section class="section-jumbotron"> 
        <div class="swiper-hd">
            <div class="swiper-wrapper">
                <% @product.master.images.each_with_index do |image, index| %>
                <div class="swiper-slide">
                    <img src="<%= image.picture.url %>">
                </div>
                <% end %>

            </div>
        </div>
    </section>

    <div class="section-product">
        <div class="col-sm-6 left">
            <div class="swiper-hs">
                <div class="swiper-wrapper">
                    <% @product.master.images.each_with_index do |image, index| %>
                    <div class="swiper-slide <%= 'active' if index == 0 %>">
                        <img src="<%= image.picture.url %>">
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <% if @product.is_wedding? %>
                <%= render 'wedding' %>
            <% else %>
                <%= render 'engaement' %>
            <% end %>
        </div>
    </div>
    
    <div class="page-toolbar">

        <a href="/products?taxon_name=<%= @product.is_wedding? ? '结婚对戒' : '求婚钻戒' %>" class="page-toolbar-btn">
            <%= image_tag 'redesign/btn-list.png' %>
        </a>
        <a href="javascript:;" class="page-toolbar-btn page-toolbar-btn-service">
            <%= image_tag 'redesign/btn-service.png' %>
        </a>
        <a href="<%= cart_path(current_cart) %>" class="link-toggle-right-nav link-shopping-cart page-toolbar-btn" data-big-slide="cart">
            <%= image_tag 'redesign/btn-cart.png' %>
        </a>
    </div>
</div>
<%= render 'layouts/frontend/footer' %>

<%= render 'table' %>

<script type='text/javascript'>
    var swiper = new Swiper('.swiper-hd'); 
    var swiper = new Swiper('.swiper-hs'); 
    (function(m, ei, q, i, a, j, s) {
        m[a] = m[a] || function() {
            (m[a].a = m[a].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.src = i;
        j.id = 'meiqia-script'
        s.parentNode.insertBefore(j, s)
    })(window, document, 'script', '//eco-api.meiqia.com/dist/meiqia.js', '_MEIQIA');
    _MEIQIA('entId', 7955);
    _MEIQIA('manualInit', true);
    _MEIQIA('withoutBtn', true);
</script>
