%h2 产品详情

%hr

%h3= @product.name

- if current_user
  = button_to '收藏', product_favorites_path(@product), remote: true

= render :partial => 'properties'

%hr

%h3 变体
- @product.variants_including_master.each do |v|
  = v.id
  = v.options_text
  = button_to '加入购物车', line_items_path(variant_id: v.id)
  %br

= link_to '购物车', cart_path(@cart)
