<%= render 'layouts/frontend/header' %>
<div class="page">
    <div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide cell-travel">
				<%= image_tag "redesign/travel.jpg" %>
				<div class="wrap">
					<p>和你们一起探索生命中的一切可能性</p>
					<h2>「浪漫与优雅的探索之旅」</h2>
					</div>
	            </div>
	            <div class="swiper-slide cell-pinkdiamond">
					<%= image_tag "redesign/pinkdiamond.jpg" %>
					<div class="wrap">
		                <h2>「粉色迷情，独特如你」</h2>
		                <p>姑娘的心，淡淡的粉</p>
		                <a class="btn-ghost" href="<%= products_path(taxon_name: '求婚钻戒')%>">浏览全部求婚钻戒</a>
	            	</div>
	            </div>
	            <div class="swiper-slide cell-guide">
	            	<%= image_tag "redesign/wedding.jpg" %>
					<div class="wrap">
	            		<h2>Know it before buy it</h2>
						<a class="btn-ghost" href="<%= products_path(taxon_name: '结婚对戒')%>">浏览全部情侣钻戒</a>
					</div>

	            </div>
	            <div class="swiper-slide cell-weixin">
	            	<%= image_tag "redesign/weixin.jpg" %>
					<div class="wrap">
						<h2>「来微信，开启我们的对话」</h2>
						<%= image_tag "redesign/qrcode111.jpg",class:"qrcode",alt:"微信二维码" %>
					</div>
	            </div>

			</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination swiper-pagination-white"></div>
	</div>


	<div class="contain">
		<div class="main-promos">
			<ul>
				<li>
                    <a href="<%= products_path(taxon_name: '求婚钻戒')%>">
                    <i><%= image_tag "redesign/zj.jpg" %></i>
                    <div class="title">
                        <h2>VANDODO · 求婚戒指</h2>
                        <p>每个女孩都期待一场浪漫求婚</p>
                     </div>
                    </a>
				</li>
				<li>
                    <a href="<%= products_path(taxon_name: '结婚对戒')%>">
                    <i><%= image_tag "redesign/dj.jpg" %></i>
                    <div class="title">
                        <h2>VANDODO · 情侣对戒</h2>
                        <p>少女的心都是粉色的</p>
                     </div>
                    </a>
				</li>
				<li>
                    <a href="/">
                    <i><%= image_tag "redesign/sets.jpg" %></i>
                    <div class="title">
                        <h2>Birdal Sets</h2>
                        <p>即将开放</p>
                    </div>
                    </a>
				</li>
			</ul>
		</div>
	</div>
</div>
<%= render 'layouts/frontend/footer' %>
<script>
   var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        loop : true,
        keyboardControl : true,
        effect : 'slide',
		autoplay : 3000
    });
    
</script>