<%= render 'layouts/frontend/header' %>

<div id="container" class="container">
    <section class="section">
        <div class="home-slider">
            <a class="prev" href="#"><i class="iconfont">&#xe60b;</i></a>
            <a class="next" href="#"><i class="iconfont">&#xe60a;</i></a>
            <div class="hd">
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <li class="animate-active">
                        <div class="img-box img-box1">
                            <img class="banner1-txt1" src="<%= asset_path "banner1-txt1.png" %>">
                            <img class="banner1-txt2" src="<%= asset_path "banner1-txt2.png" %>">
                            <div class="line animation-delay800"></div>
                            <img class="banner1-txt3" src="<%= asset_path "banner1-txt3.png" %>">
                            <div class="con-wrap animation-delay400">
                                <img class="banner1-con" src="<%= asset_path "banner1-con.png" %>">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="img-box img-box1">
                            <img class="banner1-txt1" src="<%= asset_path "banner1-txt1.png" %>">
                            <img class="banner1-txt2" src="<%= asset_path "banner2-txt2.png" %>">
                            <div class="line animation-delay800"></div>
                            <img class="banner1-txt3" src="<%= asset_path "banner1-txt3.png" %>">
                            <div class="con-wrap animation-delay400">
                                <img class="banner1-con" src="<%= asset_path "banner2-con.png" %>">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="home-pro-left">
            <a class="prev" href="#"><i class="iconfont">&#xe60b;</i></a>
            <a class="next" href="#"><i class="iconfont">&#xe60a;</i></a>
                <div class="hpl-text">
                    <h2 class="home-pro-title">
                        <img src="<%= asset_path "home_pro_left.png" %>"/>
                    </h2>
                    <a href="product_list.html" class="auto-pro-btn btn-bord-black">浏览全部求婚戒指</a>
                </div>
                <div class="bd">
                    <ul>
                        <li>
                            <div class="hpl-img">
                                <img src="<%= asset_path "pro_img_01.jpg" %>"/>
                            </div>
                        </li>
                        <li>
                            <div class="hpl-img">
                                <img src="<%= asset_path "pro_img_01_1.jpg" %>"/>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="home-pro-right">
            <div class="home-pro-rtop">
                    <div class="hprt-text">
                        <h2 class="home-pro-title">
                            <img src="<%= asset_path "home_pro_rt.png" %>"/>
                        </h2>
                        <a href="product_list.html" class="auto-pro-btn btn-home-purple">浏览全部结婚对戒<i class="iconfont icon-btnarrow"></i></a>
                    </div>
                    <div class="home-pro-mask"></div>
                <div class="bg-animate bg-page3" style="background-image:url(<%= asset_path "pro_img_02.jpg" %>)"></div>
            </div>
            <div class="home-pro-rbottom">
                <div class="hprb-left">
                    <div class="hprb-l-text">
                        <h2 class="home-pro-title">
                            <img src="<%= asset_path "home_pro_bottom.png" %>"/>
                        </h2>
                        <a href="product_list.html" class="auto-pro-btn btn-bord-white">浏览新娘套装<i class="iconfont icon-btnarrow"></i></a>
                    </div>
                    <div class="home-pro-mask"></div>
                    <div class="bg-animate bg-page3" style="background-image:url(<%= asset_path "pro_img_03.jpg" %>)"></div>
                </div>
                <div class="hprb-right">
                    <div class="hprb-r-text">
                        <h2 class="home-pro-title">
                            <img src="<%= asset_path "home_pro_bottom-right.png" %>"/>
                        </h2>
                        <a href="product_list.html" class="auto-pro-btn btn-bord-white">浏览周边商品<i class="iconfont icon-btnarrow"></i></a>
                    </div>
                    <div class="home-pro-mask"></div>
                    <div class="bg-animate bg-page3" style="background-image:url(<%= asset_path "pro_img_04.jpg" %>)"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="page-warp">
            <div class="page-box">
                <div class="page-right-txt page-txt">
                    <h2 class="title">钻石</h2>
                    <img class="img-en" src="<%= asset_path "page-txt-en4.png" %>">
                    <p class="txt">范朵朵以近乎执着的热情让钻石能准确<br>地引导光线，闪亮璀璨</p>
                </div>
            </div>
            <div class="page-bg" style="background-image: url(<%= asset_path "page4-bg.jpg" %>);"></div>
        </div>
    </section>

    <section class="section">
        <div class="page-warp">
            <div class="page-box">
                <div class="page-left-txt page-txt">
                    <h2 class="title">工艺</h2>
                    <img class="img-en" src="<%= asset_path "page-txt-en5.png" %>">
                    <p class="txt">精美的钻石戒环由公主式车工钻石，营造出一种流畅、简洁又不失华丽的美感 <br>外观线条流畅平滑，分布简洁美观，而且使钻戒显得更加豪华珍贵</p>
                </div>
           </div>
           <div class="page-bg" style="background-image: url(<%= asset_path "page5-bg.jpg" %>);"></div>
       </div>
    </section>

    <section class="section">
        <div class="page-box">
            <div class="left-package">
                <img src="<%= asset_path "product-package.png" %>">
            </div>
            <div class="page-right-txt page-txt page6-txt">
                <h2 class="title">包装</h2>
                <img class="img-en" src="<%= asset_path "page-txt-en6.png" %>">
                <p class="txt">精致的包装带着优雅的品味，纯白的外壳象征爱情的永恒、纯净</p>
            </div>
       </div>
    </section>
</div>

<%= render 'layouts/frontend/footer' %>
