<%= render 'layouts/frontend/header' %>
<div class="page">	
	<div class="fullpage">
	    <section class="section section-one">
	    	<div class="row">    		
		    	<%= image_tag "redesign/diamond.png" %>
		    	<p></p>
		    </div>
	    </section>

	    <section class="section section-ceremony">
	    	<div class="row">
				<h2>
					我们的浪漫与偏执					
				</h2>
				<p>
					有限的认知，少了更好的选择！<br>
					懂越多，美越多。<br>
				</p>
				<p><%= image_tag "redesign/focus-slide-1.jpg"%></p>
			</div>

	    </section>

	    <section class="section section-well-chosen">
			<div class="row">
				<h2>用严选的标准<br>选择品质出众的Super Ideal钻石！</h2>

				<p>
					切工赋予钻石的新的生命，4C是一个简化宽泛的标准，甄别一颗钻石的<BR>
					品质与花火，条件远远不够！<br>
					台面比、全深比，冠角、亭角、Ideal Scope、ASET SCOPE、HCA......<br>
					协调的切工比例，平衡的参数，才能赋予钻石性感的花火。<br>			
				</p>			
		
				<p class="buttons">
					<a class="fp-button" href="#">H&A形成条件</a> <a class="fp-button" href="#">基于GIA的严选标准</a>
				</p>
			</div>

	    </section>
		<section class="section section-hca">
			<div class="row">
				<h2>先试戴，后购买！</h2>
				<P>
					手寸大小和款式总是最在意的事，不合适退退换换总是觉得麻烦！<br>
					VANDODO率先推出先试戴后购买的定制模式，您可以任意选择三款喜欢的戒托，免费寄送到家上手试戴！<br>
	
				</P>
				<p><a class="fp-button" href="#">浏览所有戒托款式！</a></p>
			</div>
	    </section>

	    <section class="section section-supplier">
			<div class="row">
				<h2>来自全球优质钻石供应商</h2>
				<%= image_tag "redesign/supplier-list.png" ,height:'100%',width: 'auto' %>
			</div>
	    </section>

	    <section class="section section-last">
	    	<div class="fp-content">
	    		<h2>来微信，开启我们的对话！</h2>
	    		<p><%= image_tag "redesign/wxbarcode.png" %></p>
	    	</div>
	        <%= render 'layouts/frontend/footer'%>
	    </section>
    </div>   
</div>
