= simple_form_for([:admin, @option_type], html: { class: 'form-horizontal' }) do |f|
  = f.input :name, wrapper: :horizontal_form
  = f.input :presentation, wrapper: :horizontal_form
  = f.input :position, wrapper: :horizontal_form

  %h4.border-bottom.p-sm 可选值

  #option_values

    = f.simple_fields_for :option_values do |option_value|
      = render 'option_values', f: option_value
      .links
        = link_to_add_association 'add option value', f, :option_values

  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = link_to 'Cancel', :back, class: 'btn btn-white'
      = f.submit class: 'btn btn-primary'


:javascript
  $(function() {
    $("#product_prototype_property_ids").select2({
      placeholder: "Select a Property"
    });
  })
