= form_for(@user, url: sign_up_path) do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  %div
    = f.label '手机'
    = f.text_field :mobile
  %div
    = f.label '邮件'
    = f.text_field :email, autofocues: true
  %div
    = f.label '密码'
    = f.password_field :password
  %div
    = f.label '重复密码'
    = f.password_field :password_confirmation
  %div
    = f.submit
