.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name IN+
    %h3 Register to IN+
    %p Create account to see it in action.

    = form_for(@user, url: sign_up_path) do |f|
      - if @user.errors.any?
        .error_messages
          %h2 Form is invalid
          %ul
            - for message in @user.errors.full_messages
              %li= message
      .form-group
        = f.text_field :mobile, autofocues: true, class: 'form-control', placeholder: '手机号'
      .form-group
        = f.text_field :email, autofocues: true, class: 'form-control', placeholder: '邮件'
      .form-group
        = f.password_field :password, class: 'form-control', placeholder: '密码'
      .form-group
        = f.password_field :password_confirmation, class: 'form-control', placeholder: '重复密码'
      %dive.input-group
        %input{:class => "form-control", :placeholder => "验证码", :style => 'width: 200px;', :name => "user[verification_code]"}
        %button.btn.test_alert 发送验证码    
      .form-group
      = f.submit 'Register', class: 'btn btn-primary block full-width m-b'

      %p.text-muted.text-center
        %small Already have an account?
      = link_to 'Login', sign_in_path, class: 'btn btn-sm btn-white btn-block'
      %p.text-muted.text-center
        %small 忘记密码？
      = link_to '密码找回', users_forget_password_path, class: 'btn btn-sm btn-white btn-block'

    %p.m-t
      %small Inspinia we app framework base on Bootstrap 3 &#169; 2014

:javascript
  $(".test_alert").click(function(){
    var mobile = $("input[name='user[mobile]']").val();
    $.post('/verification_codes',{mobile: mobile});
    return false;
  })