%h2 订单
- @line_items.each do |line_item|
  %p
  = line_item.product.name

%hr

%h2 收货地址
- if @addresses.blank?
  = link_to "创建地址", new_address_path, target: "_blank"
- else
  - @addresses.each do |address|
    = address.province_name
    = address.city_name
    = address.district_name
    = address.address
    = address.name
    = address.mobile
    = address.is_default ? "默认收货地址" : ""

%hr
= simple_form_for(@order, :wrapper => :horizontal_form, html: { class: 'form-horizontal' }) do |f|
  = hidden_field_tag 'line_items', @line_items.ids.join(",")
  / 地址暂时这样写，选取默认地址为收货地址，以后可以做成check_box选定
  = hidden_field_tag 'address', @addresses.where(is_default: true).first.id
  = f.submit
