<% @page_title = "微信支付"  %>

<%= render 'layouts/frontend/header' %>

<div class="weixin container-fluid">
    <div class="two-dimension">
        <div class="two-dimension1">
          <%= image_tag @order.wx_qrcode_path %>
        </div>
        <div class="refresh-all">
          <a href="#" class="glyphicon glyphicon-refresh" style="font-size: 20px;">
            <p class="refresh" style="font-size: 15px; color: #909294">刷新二维码</p >
          </a >
        </div>
    </div>
    <div class="explain">
        <p class="explain1">欢迎使用微信支付</p >
        <p class="explain2">使用微信手机客户端扫描左边二维码完成支付</p >
    </div>
    <div class="explain3">
        <p class="explain4">订单号： <%= @order.number %></p >
        <p class="explain5">支付金额： ¥ <%= @order.total %></p >
    </div>
    <div class="button">
      <%= link_to "已完成支付", @order, class: 'btn btn-default' %>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
