= simple_form_for([:admin, @product], url: form_url, wrapper: :horizontal_form, html: { class: 'form-horizontal' }) do |f|
  - unless params[:hide_basic_info]
    = f.input :name
    = f.input :description
    = f.input :sku
    = f.input :price
    = f.input :status, collection: t_options_for_select(Product::Variant, :status), include_blank: false, wrapper: :horizontal_form
  - if @product.new_record?
    = f.input :taxon_ids, input_html: { value: Taxonomy::Taxon.find_by(name: '钻石').id }, as: :hidden
    = f.input :prototype_id, input_html: { value: Product::Prototype.find_by(name: '钻石').id }, as: :hidden
  - else
    = render :partial => "product_properties", :locals => { :f => f }

  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = link_to 'Cancel', :back, class: 'btn btn-white'
      = f.submit class: 'btn btn-primary'
