= simple_form_for([:admin, @promotion], :wrapper => :horizontal_form, html: { class: 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :code
  = f.input :description
  = f.input :usage_limit
  = f.input :starts_at,
    as: :date,
    start_year: Date.today.year - 60,
    end_year: Date.today.year,
    order: [:year, :month, :day],
    wrapper: :horizontal_select_date
  = f.input :expires_at,
    as: :date,
    start_year: Date.today.year - 60,
    end_year: Date.today.year,
    order: [:year, :month, :day],
    wrapper: :horizontal_select_date
  = f.input :promotion_category_id, collection: Promotion::PromotionCategory.all, include_blank: false, prompt: "Select Prototype", wrapper: :horizontal_form

  = render :partial => "promotion_rules", :locals => { :f => f }
  = render :partial => "promotion_actions", :locals => { :f => f }
  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = link_to 'Cancel', :back, class: 'btn btn-white'
      = f.submit class: 'btn btn-primary'
