= simple_form_for([:admin, @rule], url: url, html: { class: 'form-horizontal' }) do |f|
  = f.input :type_name
  = f.input :preferences
  %input{name: "promotion_promotion_rule_id", value: @rule.id, type: "hidden"}
  %input{name: "promotion_promotion_rule[promotion_id]", value: @promotion.id, type: "hidden"}
  = f.submit "提交"
  = link_to '删除', admin_promotion_rule_path(promotion_promotion_rule_id: @rule.id), method: :delete, data: { confirm: "确认删除?" }