.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name IN+
    %h3 设置安全问题
    %p
    = form_for(@user, url: safety_questions_update_path) do |f|
      - if @user.errors.any?
        .error_messages
          %h2 Form is invalid
          %ul
            - for message in @user.errors.full_messages
              %li= message    
      = f.fields_for :profile do |field|
        .form-group
          = field.text_field :question, class: 'form-control', placeholder: '问题'
        .form-group
          = field.text_field :answer, class: 'form-control', placeholder: '答案'
      .form-group
      = f.submit '保存修改', class: 'btn btn-primary block full-width m-b'
