<header class="home-header">
    <a href="/">
        <h1 class="logo">VANDODO</h1>
    </a>

    <div class="head-right">
        <div class="link-wrap">
          <% if current_user %>
            <%= link_to '退出', admin_sign_out_path, method: :delete, class: 'show-popup' %>
          <% else %>
            <a href="<%= sign_up_path %>" class="show-popup" data-size="middle" data-tpl="tpl-registrations-new">注册</a>
            <a href="<%= sign_in_path %>" class="show-popup" data-size="small" data-tpl="tpl-sessions-new">登陆</a>
          <% end %>

        </div>
        <div class="btn-wrap mr15">
            <a class="btn-service">
                <i class="iconfont icon-service"></i>
            </a>
        </div>
        <div class="btn-wrap clearfloat">
            <a href="/carts" class="car-btn">
                <i class="iconfont">&#xe603;</i>
            </a>
            <sup>3</sup>
            <a class="menu-btn" href="javascript:void(0)">
                <svg class="menu-icon" viewBox="135 100 600 450">
                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                    <path d="M300,320 L540,320" id="middle"></path>
                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                </svg>
            </a>
        </div>
    </div>
</header>


<div id="floatmask"></div>
<nav id="home-nav">
    <div class="home-nav-warp">
        <div id="close-nav">
            <i class="iconfont icon-close01"></i>CLOSE
        </div>
        <div class="home-nav-ul">
            <ul>
                <li data-menuanchor="page1">
                    <a href="/#page1">首页<span class="nav-eng">home</span></a>
                </li>
                <li data-menuanchor="page2">
                    <a href="/#page2">产品<span class="nav-eng">product</span></a>
                </li>
                <li data-menuanchor="page3">
                    <a href="/#page3">钻石<span class="nav-eng">diamond</span></a>
                </li>
                <li data-menuanchor="page4">
                    <a href="/#page4">工艺<span class="nav-eng">technology</span></a>
                </li>
                <li data-menuanchor="page5">
                    <a href="/#page5">包装<span class="nav-eng">packing</span></a>
                </li>
            </ul>
        </div>
        <div class="home-nav-bottom">
            <i class="iconfont icon-phone"></i><b class="mr15 font-s14">400-820-8820 </b> 地址：深圳市深南大道与彩田路交汇处东南角(深南大道南侧岗厦公交站旁)
        </div>
    </div>
    <div class="home-nav-child">
        <ul>
            <li><a href="<%= products_path %>">对戒<span class="nav-eng">product</span></a></li>
            <li><a href="<%= products_path %>">钻戒<span class="nav-eng">Diamond ring</span></a></li>
            <li><a href="<%= products_path %>">周边产品<span class="nav-eng">Peripheral products</span></a></li>
            <li><a href="<%= products_path %>">——<span class="nav-eng">bridal sets</span></a></li>
        </ul>
    </div>
</nav>

<div id="popupbox">
    <div class="close-popup">
        <i class="iconfont icon-close01"></i>
    </div>
    <div id="popupbox-content"></div>
</div>
