<header class="home-header">
    <a class="menu-btn" href="javascript:void(0)">
        <svg class="menu-icon" viewBox="135 100 600 450">
            <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
            <path d="M300,320 L540,320" id="middle"></path>
            <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
        </svg>
    </a>

    <h1 class="logo">VANDODO</h1>

    <% if current_user %>
        <div class="sub-headright">
            <ul>
                <li>
                    <div class="btn-wrap">
                        <a href="#" class="btn-service">
                            <i class="iconfont icon-service"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="btn-wrap clearfloat">
                        <%= link_to content_tag(:i, "&#xe603;".html_safe, class: 'iconfont'), cart_path(current_cart), class: 'car-btn' %>
                        <!-- <sup>3</sup> -->
                    </div>
                </li>
                <li class="drop-down">
                    <div class="btn-wrap">
                        <a href="#"><img src="<%= current_user.avatar %>" class="avatar"></a>
                    </div>
                    <div class="tnav-child">
                        <a href="/orders">用户中心</a>
                        <a href="/orders">我的订单</a>
                        <a href="/users/profile/edit">账户资料</a>
                        <a href="/passwords/new">安全设置</a>
                    </div>
                </li>
            </ul>
        </div>
    <% else %>
        <div class="sub-headright">
            <ul>
                <li>
                    <div class="btn-wrap">
                        <a href="#" class="btn-service">
                            <i class="iconfont icon-service"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="btn-wrap clearfloat">
                        <%= link_to content_tag(:i, "&#xe603;".html_safe, class: 'iconfont'), cart_path(current_cart), class: 'car-btn' %>
                        <!-- <sup>3</sup> -->
                    </div>
                </li>
                <li class="drop-down">
                    <div class="btn-wrap">
                        <a href="#"><i class="iconfont icon-user"></i></a>
                    </div>
                    <div class="tnav-child">
                        <a href="<%= sign_up_path %>" data-size="middle" data-tpl="tpl-registrations-new">注册</a>
                        <a href="<%= sign_in_path %>" data-size="small" data-tpl="tpl-sessions-new">登陆</a>
                    </div>
                </li>
            </ul>
        </div>
    <% end %>
</header>


<div id="floatmask"></div>
<nav id="home-nav">
    <div class="home-nav-warp">
        <div id="close-nav">
            <i class="iconfont icon-close01"></i>CLOSE
        </div>
        <div class="home-nav-ul">
            <ul>
                <li>
                    <a href="/#page1">首页<span class="nav-eng">home</span></a>
                </li>
                <li>
                    <a href="/products?taxon_name=求婚钻戒">婚戒<span class="nav-eng">engagement ring</span></a>
                </li>
                <li>
                    <a href="/products?taxon_name=结婚对戒">对戒<span class="nav-eng">weeding ring</span></a>
                </li>
                <li>
                    <a href="#">品牌<span class="nav-eng">band</span></a>
                </li>
                <li>
                    <a href="#">服务<span class="nav-eng">service</span></a>
                </li>
                <li>
                    <a href="#">博客<span class="nav-eng">blog</span></a>
                </li>
            </ul>
        </div>
        <div class="home-nav-bottom">
            <span class="qrcode"></span>
           <p>客服服务：400-7757-188 kf@vandodo.com</p>
           <p>工作时间：9:00 至 18:00，法定节假日休息</p>
        </div>
    </div>
    <div class="home-nav-child">
        <ul>
            <li><a href="<%= products_path %>">对戒<span class="nav-eng">product</span></a></li>
            <li><a href="<%= products_path %>">钻戒<span class="nav-eng">Diamond ring</span></a></li>
            <li><a href="<%= products_path %>">周边产品<span class="nav-eng">Peripheral products</span></a></li>
            <li><a href="<%= products_path %>">——<span class="nav-eng">bridal sets</span></a></li>
        </ul>
    </div>
</nav>

<div id="popupbox">
    <div class="close-popup">
        <i class="iconfont icon-close01"></i>
    </div>
    <div id="popupbox-content"></div>
</div>
