<nav id="global-nav" class="global-nav">
    <ul>
        <li>
            <%= active_link_to '首页', root_url, active: :exclusive %>
        </li>
        <li>
            <%= active_link_to '求婚钻戒', products_path(taxon_name: '求婚钻戒'), active: :exact %>
        </li>
        <li>
            <%= active_link_to '结婚对戒', products_path(taxon_name: '结婚对戒'), active: :exact %>
        </li>

        <li>
            <%= active_link_to '关于我们', about_path, active: :exclusive %>
        </li>
        <li>
            <%= active_link_to '服务条款', service_1_path, active: :exclusive %>
        </li>
        <li>
            <a href="http://blog.vandodo.com">博客</a>
        </li>
    </ul>

    <a href="javascript:;" class="link-close-nav"><span class="glyphicon glyphicon-remove"></span></a>

    <a href="javascript:;" class="qrcode"></a>
</nav>
