= simple_form_for([:admin, @user], html: { class: 'form-horizontal' }) do |f|
  = f.input :mobile, wrapper: :horizontal_form
  = f.input :email, wrapper: :horizontal_form
  - if @user.new_record?
    = f.input :password, wrapper: :horizontal_form
    = f.input :password_confirmation, wrapper: :horizontal_form
  .hr-line-dashed
  = f.fields_for :profile, @user.profile do |field|
    .form-group
      = field.label :avatar, class: 'col-sm-2 control-label'
      .col-sm-10= field.file_field :avatar, class: 'form-control'

    = field.input :name, wrapper: :horizontal_form
    = field.input :birthday,
      as: :date,
      start_year: Date.today.year - 60,
      end_year: Date.today.year,
      order: [:year, :month, :day],
      wrapper: :horizontal_select_date

    = field.input :gender, collection: t_options_for_select(User::Profile, :gender), include_blank: false, wrapper: :horizontal_form

    .hr-line-dashed

    = field.input :partner_name, wrapper: :horizontal_form
    = field.input :partner_birthday,
      as: :date,
      start_year: Date.today.year - 60,
      end_year: Date.today.year,
      order: [:year, :month, :day],
      wrapper: :horizontal_select_date
    = field.input :partner_email, wrapper: :horizontal_form
    = field.input :partner_mobile, wrapper: :horizontal_form

  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = link_to 'Cancel', :back, class: 'btn btn-white'
      = f.submit class: 'btn btn-primary'
