= form_for([:admin, @user], html: { class: 'form-horizontal' }) do |f|
  .form-group
    = f.label :mobile, class: 'col-sm-2 control-label'
    .col-sm-10= f.telephone_field :mobile, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10= f.email_field :email, class: 'form-control'
  - if @user.new_record?
    .form-group
      = f.label :password, class: 'col-sm-2 control-label'
      .col-sm-10= f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, class: 'col-sm-2 control-label'
      .col-sm-10= f.password_field :password_confirmation, class: 'form-control'
  .hr-line-dashed
  = f.fields_for :profile, @user.profile do |field|
    .form-group
      = field.label :avatar, class: 'col-sm-2 control-label'
      .col-sm-10= field.file_field :avatar, class: 'form-control'
    .form-group
      = field.label :name, class: 'col-sm-2 control-label'
      .col-sm-10= field.text_field :name, class: 'form-control'
    .form-group
      = field.label :birthday, class: 'col-sm-2 control-label'
      .col-sm-10= field.datetime_field :birthday, class: 'form-control'
    .form-group
      = field.label :gender, class: 'col-sm-2 control-label'
      .col-sm-10= field.select :gender, User::Profile.gender.options, {}, class: 'form-control'

    .hr-line-dashed

    .form-group
      = field.label :partner_name, class: 'col-sm-2 control-label'
      .col-sm-10= field.text_field :partner_name, class: 'form-control'
    .form-group
      = field.label :partner_birthday, class: 'col-sm-2 control-label'
      .col-sm-10= field.datetime_field :partner_birthday, class: 'form-control'
    .form-group
      = field.label :partner_email, class: 'col-sm-2 control-label'
      .col-sm-10= field.email_field :partner_email, class: 'form-control'
    .form-group
      = field.label :partner_mobile, class: 'col-sm-2 control-label'
      .col-sm-10= field.text_field :partner_mobile, class: 'form-control'

  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = link_to 'Cancel', :back, class: 'btn btn-white'
      = f.submit class: 'btn btn-primary'
