= form_for([:admin, @user], html: { class: 'form-horizontal' }) do |f|
  .form-group
    = f.label :mobile, class: 'col-sm-2 control-label'
    .col-sm-10= f.telephone_field :mobile, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10= f.text_field :email, class: 'form-control'
  - if @user.new_record?
    .form-group
      = f.label :password, class: 'col-sm-2 control-label'
      .col-sm-10= f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, class: 'col-sm-2 control-label'
      .col-sm-10= f.password_field :password_confirmation, class: 'form-control'

  = f.fields_for :profile do |field|
    .form-group
      = field.label :name, class: 'col-sm-2 control-label'
      .col-sm-10= field.text_field :name, class: 'form-control'
    .form-group
      = field.label :partner_name, class: 'col-sm-2 control-label'
      .col-sm-10= field.text_field :partner_name, class: 'form-control'

  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = link_to 'Cancel', :back, class: 'btn btn-white'
      = f.submit class: 'btn btn-primary'
