.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 会员管理
    %ol.breadcrumb
      %li
        = link_to '首页', admin_path
      %li.active
        %strong 会员管理
  .col-lg-2
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 会员列表
          .ibox-tools
            = link_to '添加会员', new_admin_user_path, class: 'btn btn-primary btn-xs'
        .ibox-content
          = render "layouts/flash_messages", flash: flash

          .row
            .col-sm-8.m-b-xs
              .btn-group{"data-toggle" => "buttons"}
                %label.btn.btn-sm.btn-white
                  %input#option1{:name => "options", :type => "radio"}/
                  Day
                %label.btn.btn-sm.btn-white.active
                  %input#option2{:name => "options", :type => "radio"}/
                  Week
                %label.btn.btn-sm.btn-white
                  %input#option3{:name => "options", :type => "radio"}/
                  Month
            .col-sm-2.m-b-xs
              %select.input-sm.form-control.input-s-sm.inline
                %option{:value => "0"} 普通会员
                %option{:value => "1"} 高级会员
                %option{:value => "2"} VIP 会员
            .col-sm-2
              = search_form_for @q, url: admin_users_path do |f|
                .input-group
                  = f.search_field :mobile_or_email_cont, class: 'input-sm form-control', placeholder: '电话或邮件'
                  %span.input-group-btn
                    = f.submit 'Go!', class: 'btn btn-sm btn-primary'
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th 姓名
                  %th 手机
                  %th 邮件
                  %th 注册时间
                  %th
              %tbody
                - @users.each do |user|
                  %tr
                    %td
                      = user.name
                      %small= user.gender
                    %td= user.mobile
                    %td= user.email
                    %td= user.created_at.to_s(:db)
                    %td
                      .btn-group
                        = link_to '编辑', edit_admin_user_path(user), class: 'btn btn-white btn-xs'
                        = link_to '删除', admin_user_path(user), method: :delete, class: 'btn btn-white btn-xs', data: { confirm: "确认删除?" }
