<div class="cart-header">
    购物车
    <a href="javascript:;" class="link-close-sidebar">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>

<% if @cart.line_items.rings.size > 0 %>
    <div class="cart-table">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="name">商品/规格</th>
                    <th>数量</th>
                    <th>金额</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @cart.line_items.rings.each do |item| %>
                    <tr>
                        <th width="48"><img src="<%= item.product.master.images.first.picture.mini.url rescue '' %>"></th>
                        <td class="name"><%= item.name %></td>
                        <td class="quantity"><%= item.quantity %></td>
                        <td class="price"><%= item.final_amount.to_i %></td>
                        <td width="48">
                            <a href="<%= line_item_path(item) %>" data-method="delete"
                                data-confirm="确认删除？">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="cart-footer">
        <div class="cart-info">
            <span class="total-quantity">共 <span></span> 件商品</span><br>
            <span class="total-price">合计 <span></span></span>
        </div>
        <a href="<%= orders_path %>" class="btn btn-primary btn-lg btn-payment" data-method="post">现在结算</a>
    </div>
<% else %>
    <p class="init">购物车里还没有商品</p>
<% end %>

