.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 商品管理
    %ol.breadcrumb
      %li
        = link_to '首页', admin_path
      %li.active
        %strong 商品管理
  .col-lg-2
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 商品列表
          .ibox-tools
            = link_to '添加商品', new_admin_product_path, class: 'btn btn-primary btn-xs'
        .ibox-content
          = render "layouts/flash_messages", flash: flash

          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th 商品分类
                  %th 商品名称
                  %th 添加时间
                  %th
              %tbody
                - @products.each do |product|
                  %tr
                    %td= product.taxons_name
                    %td= product.name
                    %td= product.created_at.to_s(:db)
                    %td
                      .btn-group
                        = link_to '编辑', edit_admin_product_path(product), class: 'btn btn-white btn-xs'
                        = link_to '删除', admin_product_path(product), method: :delete, class: 'btn btn-white btn-xs', data: { confirm: "确认删除?" }
