<%= form_for @address, url: url, remote: true do |f| %>
    <div class="form-inline">
        <div class="form-group">
            <%= f.text_field :name, class: 'form-control input-name', placeholder: '收货人姓名', required: true %>
        </div>
        <div class="form-group">
            <%= f.text_field :mobile, class: 'form-control input-phone', placeholder: '联系电话', required: true %>
        </div>
    </div>
    <div class="form-inline">
        <div class="city-group">
            <div class="form-group">
                <%= f.select :province, nil, {include_blank: false, required: true}, class: 'form-control city-select' do %>
                    <%= options_for_select_with_default(f.object, :province) %>
                <% end %>
            </div>
            <div class="form-group">
                <%= f.select :city, nil, {include_blank: false, required: true}, class: 'form-control city-select' do %>
                    <%= options_for_select_with_default(f.object, :city) %>
                <% end %>
            </div>
            <div class="form-group">
                <%= f.select :district, nil, {include_blank: false, required: true}, class: 'form-control city-select' do %>
                    <%= options_for_select_with_default(f.object, :district) %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <%= f.text_field :address, class: 'form-control input-address', placeholder: '街道编号/名称，楼宇名称', required: true %>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <%= f.check_box :is_default %>
                    保存为默认地址
                </label>
            </div>
        </div>
    </div>
    <div class="form-group form-group-buttons">
        <%= f.submit '提交', class: 'btn btn-primary btn-lg', data: { disable_with: '正在提交...' } %>
    </div>
<% end %>
