<%= render 'layouts/frontend/header' %>

<div class="page user-center">
    <div class="container">
        <%= render partial: 'frontend/users/sidebar', locals: {channle: 'addresses'} %>

        <div class="user-center-main">
            <header>
                收货信息
                <a class="btn btn-primary btn-new-address" href="#">添加收获地址</a>
            </header>

            <div class="address-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>详细地址</th>
                            <th>电话</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @addresses.each do |address| %>
                            <tr data-id="<%= address.id %>">
                                <th><%= address.name %></th>
                                <td><%= address.address %></td>
                                <td><%= address.mobile %></td>
                                <td class="buttons" width="80">
                                    <a href="" class="btn-address btn-address-edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a href="" class="btn-address btn-address-remove">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%= render 'layouts/frontend/footer' %>
