.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 分类管理
    %ol.breadcrumb
      %li
        = link_to '首页', admin_path
      %li.active
        %strong 分类管理
  .col-lg-2
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 分类列表
          .ibox-tools
            = link_to '添加分类', new_admin_taxonomy_path, class: 'btn btn-primary btn-xs'
        .ibox-content
          = render "layouts/flash_messages", flash: flash

          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th 分类名称
                  %th 添加时间
                  %th
              %tbody
                - @taxonomies.each do |taxonomy|
                  %tr
                    %td= taxonomy.name
                    %td= taxonomy.created_at.to_s(:db)
                    %td
                      .btn-group
                        = link_to '管理子分类', admin_taxonomy_taxons_path(taxonomy), class: 'btn btn-white btn-xs'
                        = link_to '编辑', edit_admin_taxonomy_path(taxonomy), class: 'btn btn-white btn-xs'
                        = link_to '删除', admin_taxonomy_path(taxonomy), method: :delete, class: 'btn btn-white btn-xs', data: { confirm: "确认删除?" }
