%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold Example user
              %span.text-muted.text-xs.block
                Example menu
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              %a{:href => "#"} Logout
        .logo-element
          IN+
      %li{ class: is_active_controller('backend/dashboards') }
        = link_to "/" do
          %i.fa.fa-dashboard
          %span.nav-label 仪表面板
      %li{ class: is_active_controller('backend/taxonomies', 'backend/taxons', 'backend/products', 'backend/diamonds', 'backend/properties', 'backend/option_types', 'backend/prototypes', 'backend/product_properties') }
        %a{ href: "javascript:void(0)" }
          %i.fa.fa-cubes
          %span.nav-label 商品管理
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{ class: is_active_controller('backend/taxonomies', 'backend/taxons') }= link_to "分类管理", admin_taxonomies_path
          %li{ class: is_active_controller('backend/products') }= link_to "商品管理", admin_products_path
          %li{ class: is_active_controller('backend/diamonds') }= link_to "钻石管理", admin_diamonds_path
          %li{ class: is_active_controller('backend/properties') }= link_to "属性管理", admin_properties_path
          %li{ class: is_active_controller('backend/option_types') }= link_to "可选属性管理", admin_option_types_path
          %li{ class: is_active_controller('backend/prototypes') }= link_to "原型管理", admin_prototypes_path

      %li{ class: is_active_controller('backend/promotion_categories', 'backend/promotions') }
        = link_to 'javascript:void(0)' do
          %i.fa.fa-shopping-cart
          %span.nav-label 销售管理
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{ class: is_active_controller('backend/orders') }= link_to "订单管理", admin_orders_path
          %li{ class: is_active_controller('backend/promotion_categories') }= link_to "优惠劵分类管理", admin_promotion_categories_path
          %li{ class: is_active_controller('backend/promotions') }= link_to "优惠劵管理", admin_promotions_path
      %li
        = link_to '#' do
          %i.fa.fa-fax
          %span.nav-label 售后管理

      %li{ class: is_active_controller('backend/comments', 'backend/replies') }
        = link_to admin_comments_path do
          %i.fa.fa-comments
          %span.nav-label 评论管理

      %li{ class: is_active_controller('backend/users') }
        = link_to admin_users_path do
          %i.fa.fa-users
          %span.nav-label 会员管理
      %li
        = link_to '#' do
          %i.fa.fa-desktop
          %span.nav-label 系统管理
