!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      = page_title
    / Main css styles
    = stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true
    / Main javascript files
    = javascript_include_tag 'frontend', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:id => page_id}
    = yield
